/* centring the header linklist */

.header {
  display: flex;
  flex-direction: row ;
  grid-template-areas: 'left-icons heading icons';
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
}


/*header menu color and font weight*/
ul.list-menu.list-menu--inline > li > a > span {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.6rem;
}
ul.list-menu.list-menu--inline > li > header-menu > details > summary > span {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.6rem;
}


/* collection card text padding and centring */
h3.card__heading {
    text-align: center;
}
h3.card__heading > a > span {
    display: none;
}

.card__information {
    padding-top: 6px;
    padding-bottom: 6px;
}
a.full-unstyled-link {
    font-weight: 100;
    font-size: 1.8rem;
}